.backgroundImage {
  background-image: url(../assets/background-holdTogether.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100vh; /* Full viewport height */
  background-size: cover;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.header {
  margin: 0;
  font-size: 4vw; /* Responsive font size */
  font-weight: bolder;
}

.text {
  margin: 0;
  font-weight: lighter;
  font-size: 2.5vw; /* Responsive font size */
  letter-spacing: 8px;
}

.donateBtn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(21, 215, 180, 1);
  border-radius: 66px;
  width: 200px;
  border: none;
  padding: 10px 20px;
  font-size: 1.2vw; /* Responsive font size */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.donateBtn:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  border-radius: 66px;
  border: 3px solid rgba(21, 215, 180, 1);
}

.donateBtn:hover {
  background-color: rgb(11, 146, 121);
  transform: translateX(-50%) scale(1.05);
}

@media only screen and (max-width: 550px) {
  .header {
    font-size: 6vw;
  }

  .text {
    font-size: 4vw;
  }

  .donateBtn {
    width: 150px;
    font-size: 3vw;
  }
}

@media only screen and (max-height: 450px) {
  .title {
    top: 25%;
  }

  .header {
    font-size: 6vw;
  }

  .text {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1400px) and (min-height: 800px) {
  .title {
    top: 38%;
  }

  .donateBtn {
    top: 53%;
  }
}
