.whyUsSection {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.whyUs {
  padding: 8% 8% 2% 10%;
  padding-right: 20px;
  text-align: center; /* Center text */
}

.header {
  padding-bottom: 3%;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  font-weight: bolder;
  color: #333;
  margin-bottom: 20px;
}

.para {
  line-height: 2;
  font-size: 14px;
}

.benefitsList {
  list-style: none;
  padding: 0;
}

.benefitsList li {
  margin-bottom: 15px;
  line-height: 1.6;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some space between the text and the image */
}

.image {
  border: 1.2vw solid rgba(21, 215, 180, 1);
  z-index: 1;
  width: 60%; /* Adjust the width to make the image smaller */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1000px) {
  .image {
    height: 80%;
    position: relative;
    bottom: 10%;
    right: 0; /* Center the image horizontally */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .image {
    height: 60%;
    position: relative;
    top: 10%;
    right: 0; /* Center the image horizontally */
  }
}

@media only screen and (max-width: 767px) {
  .image {
    margin: 5% 10% 5% 7%;
    max-width: 60%;
    max-height: 60%;
  }
}
